*{
    box-sizing: border-box;
}
body{
    background-color:black;
    color: white;
}

header{
    text-align: center;
}
nav{
    text-align: center;
    background-color: lightblue;
    width: 100%;
}
h1{
    font-size: 3em;
}
li{
    list-style: none;
}
header li{
    border-radius: 10px;
    display:inline-block;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
header li:hover{
    background-color: lightgrey;
}
header a{
    color: black;
}
main{
    background-color: white;
    width: 65%;
    text-align: left;
    color: black;
    margin: auto;
    padding: 25px;
}
main a:link, main a:visited{
    color: black;
}
main a:hover{
    color: darkgray;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
}

footer{
    width: 100%;
    color: black;
    background-color: lightblue;
    margin-top: 15px;
}
footer p{
    width: 65%;
    margin-top: 15px;
    margin:auto;
    padding: 15px 15px 15px 25px;
}




